.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to friendly_t('header'), [controller_namespace, :root], :class => 'brand'
      %ul.nav
        = render 'friendly_admin/layout/navigation'
      .pull-right
        = render 'friendly_admin/layout/right_navigation'
